<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/summernote-0.8.18-dist/summernote-bs4.css">
    <script src="/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/summernote-0.8.18-dist/summernote-bs4.js"></script>
    <script src="/summernote-0.8.18-dist/lang/summernote-ko-KR.js"></script>
</head>
<body>
<header>

</header>
<main>
    <div>
        <div>
            <label>작성</label>
        </div>
        <hr/>

        <div>
            <label>제목</label>
            <textarea id="title-writer" name="title"></textarea>
        </div>
        <div>
            <label>내용</label>
            <textarea id="content-writer" name="content"></textarea>
        </div>
        <hr/>
        <button onclick="submitForm()">작성</button>
    </div>
</main>
<footer>

</footer>
</body>
</html>
<script>
    function checkEmpty() {
        var title = document.getElementById("title").value;
        var content = document.getElementById("content").value;

        if (title !== "" && content !== "") {
            return true;
        } else {
            return false;
        }
    }

    $(document).ready(function () {
        $('#content-writer').summernote({
            lang: 'ko-KR',
            toolbar: [
                ['style', ['bold', 'italic', 'underline']],
                ['font', ['strikethrough']],
                ['fontname'],
                ['fontsize'],
                ['color'],
                ['para', ['ul', 'ol']],
                ['insert', ['picture']],
            ],
            buttons: {
                picture: function (context) {
                    var ui = $.summernote.ui;
                    var button = ui.button({
                        contents: '<i class="note-icon-picture"></i>',
                        tooltip: '그림 삽입',
                        click: function () {
                        }
                    });
                    return button.render();
                }
            },
        });
        $('.dropdown-toggle').dropdown();

    });

    function submitForm() {
        const title = document.getElementById("title-writer").value;
        const content = $('#content-writer').summernote('code');

        const formData = new FormData();
        formData.append("title", title);
        formData.append("content", content);

        $.ajax({
            url: "/home/board/create",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function (response) {
                alert("글 작성이 완료되었습니다.");
                window.location.href = "/home";
            },
            error: function (xhr, status, error) {
                alert("글 작성에 실패했습니다. 다시 시도해주세요.");
            }
        });
    }
</script>
