<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="header :: head"></th:block>
<body>
<header>

</header>
<main>
    <div>
        <div>
            <label>작성</label>
                    <label class="form-label h4 fw-bold"> Attach File </label>
                    <input type="file" id="attach-file" name="attachFileList" multiple>
                    <ul id="attach-file-list"></ul>
        </div>
        <hr/>
        <form th:action="@{/home/board/create}" onsubmit="return checkWrite();" method="post" enctype="multipart/form-data">
            <div>
                <label>제목</label>
                <textarea id="title-writer" name="title"></textarea>
            </div>
            <div>
                <label>내용</label>
                <textarea id="content-writer" name="content"></textarea>
            </div>
            <hr/>
            <button type="submit">작성</button>
            <button type="button" onclick="location.href='/home'">취소</button>
        </form>
    </div>
</main>
<footer>

</footer>
<script src="/js/board-write.js"></script>
</body>
</html>
