<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="header :: head"></th:block>
<body>
<header>

</header>
<main>
    <div>
        <label style="font-size: 30px;" th:text="${boardDto.getTitle()}"></label>
        <hr/>
        <label th:utext="${boardDto.getContent()}" }></label>
        <hr/>
        <form th:action="@{/home/board/update}" method="get">
            <input name="id" class="hidden" th:value="${boardDto.getId()}">
            <button type="submit">수정</button>
        </form>
        <form th:action="@{/home/board/delete}" th:method="post">
            <input name="id" type="hidden" th:value="${boardDto.getId()}">
            <button type="submit">삭제</button>
        </form>
        <hr/>
        <h2>댓글</h2>
        <hr/>
        <table class="table">
            <thead>
            <tr>NO</tr>
            <tr>내용</tr>
            <tr>작성자</tr>
            <tr>날짜</tr>
            </thead>
            <tbody>
            <tr th:each="commentList : ${commentDtoList}">
                <td th:text="${commentListStat.count}"></td>
                <td>
                    <form th:action="@{/home/board/comment/update}" th:method="post">
                        <input name="id" type="hidden" th:value="${commentList.getId()}"></input>
                        <input name="userId" type="hidden" th:value="${commentList.getUserId()}"></input>
                        <input name="boardId" type="hidden" th:value="${commentList.getBoardId()}"></input>
                        <input name="createdAt" type="hidden" th:value="${commentList.getCreatedAt()}"></input>
                        <label th:id="'comment-label' + ${commentList.getId()}"
                               th:text="${commentList.getContentOfComment()}"
                               th:value="${commentList.getContentOfComment()}"></label>
                        <textarea th:id="'comment-textarea'+${commentList.getId()}" name="contentOfComment"
                                  th:text="${commentList.getContentOfComment()}" class="hidden"></textarea>
                        <button th:id="'fix-button'+${commentList.getId()}" type="button"
                                th:onclick="'convertToTextarea(\'' + ${commentList.getId()} + '\')'">수정
                        </button>
                        <button th:id="'complete-button'+${commentList.getId()}" class="hidden" type="submit">완료
                        </button>
                    </form>
                </td>
                <td th:text="${commentList.getUserId()}"></td>
                <td th:text="${#temporals.format(commentList.getUpdatedAt, 'yyyy-MM-dd HH:mm') != null ? #temporals.format(commentList.getUpdatedAt, 'yyyy-MM-dd HH:mm') : #temporals.format(commentList.getCreatedAt, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <form th:id="'delete-button'+${commentList.getId()}" th:action="@{/home/board/comment/delete}"
                          th:method="post">
                        <input name="id" type="hidden" th:value="${commentList.getId()}">
                        <input name="boardId" type="hidden" th:value="${commentList.getBoardId()}">
                        <button type="submit">삭제</button>
                    </form>
                    <button th:id="'cancel-button'+${commentList.getId()}" class="hidden" type="button"
                            th:onclick="'convertToTextarea(\'' + ${commentList.getId()} + '\')'">취소
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <hr/>
        <label>댓글작성</label>
        <form th:action="@{/home/board/comment/create}" onsubmit="return checkCreateEmpty();" method="post">
            <input name="boardId" type="hidden" th:value="${boardDto.getId()}">
            <textarea id="content-of-comment" name="contentOfComment"></textarea>
            <button type="submit">작성</button>
        </form>
        <hr/>
        <button type="button" onclick="location.href='/home'">목록</button>
    </div>
</main>
<footer>

</footer>
<script src="/js/board.js"></script>
</body>
</html>