<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/summernote-0.8.18-dist/summernote-bs4.css">
    <script src="/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/summernote-0.8.18-dist/summernote-bs4.js"></script>
    <script src="/summernote-0.8.18-dist/lang/summernote-ko-KR.js"></script>
</head>
<body>
<header>

</header>
<main>
    <div>
        <div>
            <label>작성</label>
        </div>
        <hr/>
        <form th:action="@{/home/board/create}" onsubmit="return checkWrite();" method="post" enctype="multipart/form-data">
            <div>
                <label>제목</label>
                <textarea id="title-writer" name="title"></textarea>
            </div>
            <div>
                <label>내용</label>
                <textarea id="content-writer" name="content"></textarea>
            </div>
            <hr/>
            <label> Attach File </label>
            <input type="file" id="attach-file" name="attachFiles" multiple>
            <ul id="attach-file-list"></ul>
            <hr/>
            <button type="submit">작성</button>
            <button type="button" onclick="location.href='/home'">취소</button>
        </form>
    </div>
</main>
<footer>

</footer>
<script src="/js/board-write.js"></script>
</body>
</html>
