<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${boardDto.getTitle()}"></title>
</head>
<body>
<header>

</header>
<main>
    <div>
        <form th:action="@{/home/board/update}" onsubmit="return checkEmpty();" th:method="post">
            <input name="id" type="hidden" th:value="${boardDto.getId()}">
            <textarea style="font-size: 30px;" th:text="${boardDto.getTitle()}" id="title" name="title"></textarea>
            <hr/>
            <textarea th:text="${boardDto.getContent()}" id="content" name="content" }></textarea>
            <hr/>
            <button type="submit">완료</button>
        </form>
        <form th:action="@{/home/board}" method="get">
            <input name="id" type="hidden" th:value="${boardDto.getId()}">
            <button type="submit">취소</button>
        </form>
        <hr/>
    </div>
</main>
<footer>

</footer>
</body>
</html>
<script>
    function checkEmpty() {
        var title = document.getElementById("title").value;
        var content = document.getElementById("content").value;

        if (title !== "" && content !== "") {

            return true;
        } else {

            return false;
        }

    }
</script>