<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<header>

</header>
<main>
    <div>
        <label style="font-size: 30px;">게시판</label>
        <table>
            <thead>
            <tr>이름</tr>
            <tr>제목</tr>
            <tr>날짜</tr>
            </thead>
            <tbody>
            <tr th:each="boardDto : ${boardDtoList}">
                <td th:text="${boardDto.getUserId()}"></td>
                <td><a th:href="@{/home/board(id=${boardDto.getId()})}" th:text="${boardDto.getTitle()}"></a></td>
                <td th:text="${boardDto.getUpdatedAt != null ? boardDto.getUpdatedAt() : boardDto.getCreatedAt()}"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="location.href='/home/createboard'">작성</button>
    </div>
</main>
<footer>

</footer>

</body>
</html>
