<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{header :: head}"></div>
<body>
<main class="container-fluid">
    <div class="d-flex justify-content-center align-items-center container-max-height">
        <div class="row">
            <div class="col-12 text-center">
                <div class="d-flex">
                    <label>요청한 페이지를 찾을 수 없습니다.</label>
                </div>
                <div class="align-items-center ">
                    <button id="back-button" class="btn btn-outline-primary basic-top-margin basic-left-margin">게시판으로
                        돌아가기
                    </button>
                </div>
            </div>
        </div>
    </div>
    eqw
</main>
<script src="/js/not-found.js"></script>
<script>new notFound();</script>
</body>
</html>