<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<header>

</header>
<main>

    <label style="position:fixed; font-size: 30px; left:45%; top:10%;">임시 Register</label>
    <form th:action="@{/signup}" onsubmit="return checkEmpty();" method="post">
        <div style="position:fixed; left:45%; top:20%;">
            <div>
                <label>이름 : </label>
                <input id="userName" name="userName">
            </div>
            <div>
                <label>아이디 : </label>
                <input id="userId" name="userId">
            </div>
            <div>
                <label>패스워드 : </label>
                <input id="userPw" name="userPw">
            </div>
            <div>
                <label>패스워드 재확인 : </label>
                <input id="reconfirmPw" name="reconfirmPw">
            </div>
            <div>
                <button type="submit">회원가입</button>
            </div>
        </div>
    </form>
</main>
<footer>

</footer>

</div>
</body>
</html>

<script>
    function checkEmpty() {
        var userPw = document.getElementById("userPw").value;
        var reconfirmPw = document.getElementById("reconfirmPw").value;
        var userId = document.getElementById("userId").value;
        var userName = document.getElementById("userName").value;

        if ((userId !== "" && userPw !== "" && userName !== "" && reconfirmPw !== "") && (userPw === reconfirmPw)) {

            return true;
        } else {

            return false;
        }

    }

</script>