<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>

</header>
<main>
    <div>
        <div>
            <label>작성</label>
        </div>
        <hr/>
        <form action="/home/createboard" onsubmit="return checkEmpty();" method="post">
            <div>
                <label>제목</label>
                <textarea id="title" name="title"></textarea>
            </div>
            <div>
                <label>내용</label>
                <textarea id="content" name="content"></textarea>
            </div>
            <hr/>
            <button type="submit">작성</button>
        </form>
    </div>
</main>
<footer>

</footer>
</body>
</html>
<script>
    function checkEmpty() {
        var title = document.getElementById("title").value;
        var content = document.getElementById("content").value;

        if (title !== "" && content !== "") {

            return true;
        } else {

            return false;
        }

    }
</script>
